

body {
    
    font-family: 'Montserrat', sans-serif;
}

#homeNav {
    font-size: 1.25rem;
    font-weight: 500;
}

#homeNav .nav-link {
    color: black;
}

#homeNav .nav-link:hover {
    color: red;
    }

#jumboHeader{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    backdrop-filter: blur(15px);
    border: solid 3px black; 
}

.jumbotron {
    position: relative;
    background:none;
    height: 400px;
  }

.jumbotron:after {
      content : "";  
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(projectimages/humphrey-muleba-LOA2mTj1vhc-unsplash.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity : 1.0;
      z-index: -1;
  }

  .carousel-item{
      width: 100%;
      height: 400px;
  }
